body
{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: cursive;
    color: white;
}

h2, h3, #status
{
    margin: 2%;
}


h3
{
    margin-bottom: 5%;
}

li
{
    margin: 0;
    margin-left: 8%;
    line-height: 20%;
    font-size: 1.1rem;
}